stages:
  - build
  - manifest

variables:
  LOCAL_REGISTRY: "gitlab-registry.gitlab.svc.cluster.local:5050"
  CACHE_REPO: "$LOCAL_REGISTRY/apps/ml/data-creator-cache"
  APP_IMAGE: "$LOCAL_REGISTRY/apps/ml/data-creator"

default:
  before_script:
    - echo "Start build ML/data_creator at $(date)"

build_data_creator:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    # Авторизация в локальном registry
    - mkdir -p /kaniko/.docker
    - |
      cat > /kaniko/.docker/config.json <<EOF
      {
        "auths": {
          "http://$LOCAL_REGISTRY": {
            "username": "$CI_REGISTRY_USER",
            "password": "$CI_REGISTRY_PASSWORD"
          }
        }
      }
      EOF

    # Kaniko build → push: local registry only
    - >
      /kaniko/executor
      --insecure
      --insecure-registry=$LOCAL_REGISTRY
      --context $CI_PROJECT_DIR/data_creator
      --dockerfile $CI_PROJECT_DIR/data_creator/Dockerfile
      --cache=true
      --cache-repo=$CACHE_REPO
      --destination $APP_IMAGE:$CI_COMMIT_SHORT_SHA
      --destination $APP_IMAGE:latest
  rules:
    - changes:
        - data_creator/**/*


update_data_creator_manifest:
  stage: manifest
  image: alpine:3.20
  needs:
    - build_data_creator
  variables:
    TARGET_PROJECT_PATH: "infra/ml"
    TARGET_BRANCH: "main"
    TARGET_VALUES_PATH: "data_creator/helm/values.yaml"
  script:
    - |
      set -e

      apk add --no-cache git

      # Клонируем проект с helm chart
      git clone "https://gitlab-ci-token:${CI_JOB_TOKEN}@${CI_SERVER_HOST}/${TARGET_PROJECT_PATH}.git" helm-repo

      # Если используешь персональный токен вместо CI_JOB_TOKEN, то будет так:
      # git clone "https://${GITLAB_TOKEN}@${CI_SERVER_HOST}/${TARGET_PROJECT_PATH}.git" helm-repo

      cd helm-repo

      # Меняем тег в values.yaml на текущий CI_COMMIT_SHORT_SHA
      sed -Ei "s/(tag:\s*\").*(\")/\1${CI_COMMIT_SHORT_SHA}\2/" "${TARGET_VALUES_PATH}"

      # Настраиваем git
      git config user.name "GitLab CI"
      git config user.email "ci@gitlab"

      # Коммит и пуш
      git add "${TARGET_VALUES_PATH}"
      git commit -m "chore: update ml-data-creator image tag to ${CI_COMMIT_SHORT_SHA}" || echo "Nothing to commit"
      git push origin "${TARGET_BRANCH}"
  rules:
    - changes:
        - data_creator/**