stages:
  - build

variables:
  # Локальный registry внутри кластера (Omnibus → порт 5050)
  LOCAL_REGISTRY: "gitlab-registry.gitlab.svc.cluster.local:5050"

  # Репозиторий, куда пушим кэш слоёв
  CACHE_REPO: "$LOCAL_REGISTRY/apps/ml/data-creator-cache"

  # Репозиторий, куда пушим финальный образ
  APP_IMAGE: "$LOCAL_REGISTRY/apps/ml/data-creator"

default:
  before_script:
    - echo "Start build ML/data_creator at $(date)"

build_data_creator:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    # Авторизация в локальном registry
    - mkdir -p /kaniko/.docker
    - |
      cat > /kaniko/.docker/config.json <<EOF
      {
        "auths": {
          "http://$LOCAL_REGISTRY": {
            "username": "$CI_REGISTRY_USER",
            "password": "$CI_REGISTRY_PASSWORD"
          }
        }
      }
      EOF

    # Kaniko build → push: local registry only
    - >
      /kaniko/executor
      --insecure
      --insecure-registry=$LOCAL_REGISTRY
      --context $CI_PROJECT_DIR/data_creator
      --dockerfile $CI_PROJECT_DIR/data_creator/Dockerfile
      --cache=true
      --cache-repo=$CACHE_REPO
      --destination $APP_IMAGE:$CI_COMMIT_SHORT_SHA
      --destination $APP_IMAGE:latest
      --destination $APP_IMAGE:$CI_COMMIT_SHORT_SHA
  rules:
    - changes:
        - data_creator/**/*
