stages:
  - build
  - manifest
variables:
  # Локальный registry внутри кластера (Omnibus → порт 5050)
  LOCAL_REGISTRY: "gitlab-registry.gitlab.svc.cluster.local:5050"

  # Репозиторий, куда пушим кэш слоёв
  CACHE_REPO: "$LOCAL_REGISTRY/apps/ml/data-creator-cache"

  # Репозиторий, куда пушим финальный образ
  APP_IMAGE: "$LOCAL_REGISTRY/apps/ml/data-creator"

default:
  before_script:
    - echo "Start build ML/data_creator at $(date)"

build_data_creator:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    # Авторизация в локальном registry
    - mkdir -p /kaniko/.docker
    - |
      cat > /kaniko/.docker/config.json <<EOF
      {
        "auths": {
          "http://$LOCAL_REGISTRY": {
            "username": "$CI_REGISTRY_USER",
            "password": "$CI_REGISTRY_PASSWORD"
          }
        }
      }
      EOF

    # Kaniko build → push: local registry only
    - >
      /kaniko/executor
      --insecure
      --insecure-registry=$LOCAL_REGISTRY
      --context $CI_PROJECT_DIR/data_creator
      --dockerfile $CI_PROJECT_DIR/data_creator/Dockerfile
      --cache=true
      --cache-repo=$CACHE_REPO
      --destination $APP_IMAGE:$CI_COMMIT_SHORT_SHA
      --destination $APP_IMAGE:latest
  rules:
    - changes:
        - data_creator/**/*



update_data_creator_manifest:
  stage: manifest
  image: alpine:3.20
  needs:
    - build_data_creator
  script:
    - apk add --no-cache git
    # или уже:                         tag: "abc1234"
    - sed -Ei "s/(tag:\s*\").*(\")/\1${CI_COMMIT_SHORT_SHA}\2/" data_creator/helm/values.yaml

    # Настраиваем git
    - git config user.name "GitLab CI"
    - git config user.email "ci@gitlab"

    - git status
    - git add data_creator/helm/values.yaml
    - git commit -m "chore: update ml-data-creator image tag to ${CI_COMMIT_SHORT_SHA}" || echo "Nothing to commit"
    - git push origin "$CI_COMMIT_REF_NAME"


  rules:
    - changes:
        - data_creator/**/*
