stages:
  - build
  - manifest


default:
  before_script:
    - echo "Start build ML/price-checker at $(date)"

build_price-checker:
  variables:
    LOCAL_REGISTRY: "gitlab-registry.gitlab.svc.cluster.local:5050"
    CACHE_REPO: "$LOCAL_REGISTRY/apps/ml/data-creator-cache"
    APP_IMAGE: "$LOCAL_REGISTRY/apps/ml/data-creator"

  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    # Авторизация в локальном registry
    - mkdir -p /kaniko/.docker
    - |
      cat > /kaniko/.docker/config.json <<EOF
      {
        "auths": {
          "http://$LOCAL_REGISTRY": {
            "username": "$CI_REGISTRY_USER",
            "password": "$CI_REGISTRY_PASSWORD"
          }
        }
      }
      EOF

    # Kaniko build → push: local registry only
    - >
      /kaniko/executor
      --insecure
      --insecure-registry=$LOCAL_REGISTRY
      --context $CI_PROJECT_DIR/price-checker
      --dockerfile $CI_PROJECT_DIR/price-checker/Dockerfile
      --cache=true
      --cache-repo=$CACHE_REPO
      --destination $APP_IMAGE:$CI_COMMIT_SHORT_SHA
      --destination $APP_IMAGE:latest
  rules:
    - changes:
        - price-checker/**/*


update_price-checker_manifest:
  stage: manifest
  image: alpine:3.20
  needs:
    - build_price-checker
  variables:
    TARGET_PROJECT_PATH: "infra/ml"       # путь проекта с чартом
    TARGET_BRANCH: "main"
    TARGET_VALUES_PATH: "price-checker/helm/values.yaml"
  script:
    - |
      set -e

      apk add --no-cache git

      # Клонируем репозиторий с helm chart через PAT
      echo "TARGET_PROJECT_PATH=${TARGET_PROJECT_PATH}"
      git clone "https://oauth2:${HELM_REPO_TOKEN}@${CI_SERVER_HOST}/${TARGET_PROJECT_PATH}.git" helm-repo

      cd helm-repo

      # Меняем тег в values.yaml
      sed -Ei "s/(tag:\s*\").*(\")/\1${CI_COMMIT_SHORT_SHA}\2/" "${TARGET_VALUES_PATH}"

      git config user.name "GitLab CI"
      git config user.email "ci@gitlab"

      git add "${TARGET_VALUES_PATH}"
      git commit -m "chore: update ml-data-creator image tag to ${CI_COMMIT_SHORT_SHA}" || echo "Nothing to commit"
      git push origin "${TARGET_BRANCH}"
  rules:
    - changes:
        - price-checker/**
